body {
	background-color: #0079c0;
	margin-bottom: 2%;
	margin-top: 1%;	
	font-family: 'Open Sans';
	color: #333;
	font-size: 0.9em;
	line-height: 1.5;
	text-align: justify;
}

#main-container {
	background-color: white;
	width: 96%;
	margin-left: 2%;
	box-shadow: 2px 2px 1px rgba(50, 50, 50, 0.75), -2px 2px 1px rgba(50, 50, 50, 0.75);
}

.botton {
	margin: 0;
	padding-top: 15px;
	padding-bottom: 15px;
}

.botton:hover {
	background-color: #D8DCDC;
	cursor: pointer;
}

#content {
	padding-left: 20%;
	padding-right: 20%;
}

#logo {
	width: 350px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
}

h1, h3, h2, h5, #content {
	text-align: center;
}

hr {
	margin-top: 0px;
	color: black;
	margin: 0;
}

.imgs {
	width: 30%;
	margin-left: 35%;
}

.container {
	-webkit-animation-duration: 0.2s;
	-moz-animation-duration: 0.2s;
	-ms-animation-duration: 0.2s;
	-o-animation-duration: 0.2s;
}

#logo-bottom {
	text-align: center;
}

.disclaimer {
	font-style: italic;
	text-align: center;
	font-size: 0.8em;
}

#desktop-menu {
	display: none;
}

#mobile-menu {
	display: block;
}

#desktop-content {
	display: none;
}

@media (min-width: 1025px) {
	body {
		margin-bottom: 1%;
		margin-top: 0%;
	}

	#desktop-menu {
		display: block;
		width: 80%;
		margin-left: 10%;
	}

	.menu-item {
		width: 19.5%;
		display: inline-block;
		text-align: center;
	}


	.menu-item:hover {
		border-bottom: solid 3px #6ba9da;
		cursor: pointer;
	}

	#mobile-menu {
		display: none;
	}

	#main-container {
		width: 80%;
		margin-left: 10%;
		-webkit-box-shadow: 1px -1px 10px 0px rgba(50, 50, 50, 0.74);
		-moz-box-shadow:    1px -1px 10px 0px rgba(50, 50, 50, 0.74);
		box-shadow:         1px -1px 10px 0px rgba(50, 50, 50, 0.74);
	}

	.small-menu {
		position: fixed;
		top: -125px;
	}

	.large-menu {
		top: -23px;
	}

	#header {
		-webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.74);
		-moz-box-shadow:    0px 1px 5px 0px rgba(50, 50, 50, 0.74);
		box-shadow:         0px 1px 5px 0px rgba(50, 50, 50, 0.74);
		width: 100%;
		background-color: #FFF;
		z-index: 1000;
	}

	.window {
		display: inline-block;
	}

	#logo {
		margin-left: 10%;
	}

	#desktop-content {
		display: block;
	}

	.column {
		padding-left: 5%;
		padding-right: 5%;
		text-align: justify;
	}
	
	.column2 {
		padding-left: 5%;
		padding-right: 5%;
	}

	.column2 img{
		width: 15%;
		display: inline-block;
		margin: 8%;
		height: auto;
	}

	hr {
		width: 20%;
		margin-left: 40%;
	}
}







